/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo img {
    max-height: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.cart img {
    max-height: 30px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}
